<%- include('header') %>

<main>
    <div class="catalog">
        <div class="item">
            <a href="/details/1">
                <img src="/hungergames_movie.jpg" alt="Hunger Games">
            </a>
            <p>Hunger Games: The Mockingjay - Part 1</p>
        </div>

        <div class="item">
            <img src="placeholder.jpg" alt="Movie/Book Cover">
            <p>Title</p>
        </div>
        <div class="item">
            <img src="placeholder.jpg" alt="Movie/Book Cover">
            <p>Title</p>
        </div>
        <div class="item">
            <img src="placeholder.jpg" alt="Movie/Book Cover">
            <p>Title</p>
        </div>
        <div class="item">
            <img src="placeholder.jpg" alt="Movie/Book Cover">
            <p>Title</p>
        </div>
    </div>
</main>

<%- include('footer') %>
